<a href="https://colab.research.google.com/github/theunixdisaster/Reinforcement_Learning_NPTEL/blob/main/Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

my_data = {
    "Company": [
        "Hynix",
        "Infineon",
        "Micron",
        "Samsung",
        "Others",
    ],
    "1999 Share(%)": [
        19,
        6,
        16,
        23,
        36,
    ],
    "2002 Share(%)": [
        13,
        13,
        19,
        32,
        23
    ]
}

df = pd.DataFrame(my_data)
display(df)
print()
df["1999 Share(%)"].max()

    Company  1999 Share(%)  2002 Share(%)
0     Hynix             19             13
1  Infineon              6             13
2    Micron             16             19
3   Samsung             23             32
4    Others             36             23

36